# SPDX-License-Identifier: Apache-2.0
# Service paths and users follow supplied firmware; no credentials are embedded.
service vendor.boot-qti /system/bin/hw/android.hardware.boot-service.qti.recovery
    seclabel u:r:recovery:s0
    class hal
    user root
    group root
    interface aidl android.hardware.boot.IBootControl/default

service vendor.qseecomd /vendor/bin/qseecomd
    disabled
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64:/sbin
    socket notify-topology stream 660 system drmrpc
    class core
    user root
    group root drmrpc

service vendor.keymint-qti /vendor/bin/hw/android.hardware.security.keymint-service-qti
    disabled
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64:/sbin
    class early_hal
    user root
    group root drmrpc

service vendor.gatekeeper_default /vendor/bin/hw/android.hardware.gatekeeper-service-qti
    disabled
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64:/sbin
    class early_hal
    user root
    group root

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    disabled
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64
    class hal
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/aac_richtap_dev
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config

# Stock QMI peripheral-domain mapper required before ADSP startup.
service vendor.pd_mapper /vendor/bin/pd-mapper
    disabled
    class core
    user system
    group system
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
